body{
    margin: 0;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    margin-left: 150px;
    margin-top: 130px;
}

.kletext{
    margin: 0;
    font-family: "Inter";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: rgba(255,255,255,0.65 );
}

.subtext{
    margin: 0;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: rgba(255,255,255,0.65 );
}

.son{
    margin: 0;
    position: absolute;
    text-align: center;
    padding: 20px;
    margin-left: 165px;
    width: 110px;
    height: 178px;
    transform: rotate(-90deg);
    font-family: "Inter";
    font-size: 77px;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    color: rgba(255,255,255,0.38 );
}

.blok{
    margin-left: 235px;
    margin-top: 25px;
    width: 426px;
    height: 162px;
    border-top-left-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 0;
    background: rgba(34,34,34,0.51 );
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1{
    font-family: "Inter";
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    color: rgba(255,255,255,0.52 );
}

.text2{
    font-family: "Inter";
    margin-left: 170px;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: rgba(255,255,255,0.65 );
}

.blok2{
    margin: 0;
    margin-left: 170px;
    width: 426px;
    height: 84px;
    border-color: rgba(112,112,112,0.33 );
    border-width: 0.5px;
    border-style: solid;
    border-radius: 20px;
    background: rgba(34,34,34,0.51 );
}

.ikon{
    position: absolute;
    font-family: "Inter";
    font-size: 30px;
    margin-left: 40px;
    margin-top: 25px;
    font-weight: bold;
    font-style: normal;
    color: rgba(255, 255, 255, 0.52);
}

.mail{
    margin-left: 100px;
    margin-top: 30px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: rgba(255,255,255,0.65 );
    background-color: transparent;
    border: 0px;
}

.blok3{
    margin: 0;
    margin-left: 190px;
    width: 199px;
    height: 47px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: rgba(51,51,51,0.6 );
    background: linear-gradient(180deg, 
    rgba(51,51,51,0.6 ) 0.00%, 
    rgba(34,34,34,0.6 ) 100.00%);
    display: flex;
    align-items: center;
}

.cbox{
    font-size: 35px;
    margin-left: 10px;
    color: RGBA(255,255,255,0.7 );
}

.text3{
    margin-left: 5px;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: rgba(255,255,255,0.65 );
}

.blok4{
    margin: 0;
    margin-left: 70px;
    width: 116px;
    height: 47px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: rgba(51,51,51,0.6 );
    background: linear-gradient(180deg, 
    rgba(51,51,51,0.6 ) 0.00%, 
    rgba(34,34,34,0.6 ) 100.00%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
}